<h1 class="m-8 text-3xl text-center">Hello, Hgb {{ title }}</h1>

<div class="flex">
  <article class="flex-auto">
    <div class="border-4 rounded-4xl border-red-400 text-center">
      <div class="font-light text-5xl">
        {{ currentTemperature }} &deg;C
        {{ weather }}
      </div>
    </div>
    <div>
      Daily Max Temp: {{ dailyMaxTemperature }} &deg;C
      <br/>
      Daily Min Temp: {{ dailyMinTemperature }} &deg;C
    </div>
    <div>
      🌇 {{ sunrise | date:"shortTime" }}
      <br/>
      🌃 {{ sunset | date:"shortTime" }}
    </div>
  </article>
  <div class="flex-auto">
    <a href="https://www.mittag.at/r/campina" class="mittagio"></a>
  </div>
</div>
